.container {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.content {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.main-area {
    width: 55%;
    float: left;
    margin-right: 5%;
}

.sidebar {
    width: 40%;
    float: left;
}

.group:before,
.group:after {
    content: '';
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1;
}